haystack-ai
datasets>=2.6.1
sentence_transformers
dotenv
google-ai-haystack
pypdf
langchain_community
chromadb
langchain-google-genai
langchain-chroma>=0.1.2
rank_bm25
cohere
weaviate-client
faiss-cpu
llama-index
python-dotenv
llama-index-vector-stores-faiss
llama-index-llms-google-genai
llama-index-embeddings-google-genai
langchain_openai
langchain
python-dotenv
ipykernel
langchain_groq
langchain_google_genai
langchain_community
pypdf
faiss-cpu
structlog
PyMuPDF
fastapi
python-multipart

